body {
	font-family: sans-serif !important;
}
table {
	border-collapse: collapse;
}
th {
	padding-top: 1.5em;
	border-bottom: 1px solid black;
}
td {
	border-bottom: 1px dotted gray;
	padding: 0 0.5em;
}
td.description {
	min-width: 30em;
}
td.diet, td.price {
	white-space: nowrap;
}
td.diet {
	min-width: 5em;
}
td.price {
	width: 10em;
}
th a {
	color: black;
	text-decoration: none;
}
div#login {
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 0.5em 1em 2em 2em;
	background-color: white;
}
div#login h2 {
	font-size: 20px;
}
h2 {
	font-size: 20px;
}
p#disclaimer {
	font-style: italic;
}

div#footer {
	margin: 1em;
	display: block;
}
#footer p#credits {
	background-color: silver;
	padding: 1em;
}
span.restaurantlinks {
	font-size: 70%;
}
